name: Deploy Backend to Railway

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Install Railway CLI
        run: npm install -g @railway/cli

      # Este paso usa el token que acabas de guardar en GitHub
      - name: Deploy to Railway
        run: railway up --service MexNatureApi --detach
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}